<app-header></app-header>

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">nombre</th>
        <th scope="col">detalle</th>
        <th scope="col">tarifa</th>
        <th scope="col">ocupantes</th>
        <th scope="col">metrosCuadrados</th>
        <th scope="col">imagenUrl</th>
        <th scope="col">amenidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let villa of villas">
        <th scope="row">{{ villa.id }}</th>
        <td>{{ villa.nombre }}</td>
        <td>{{ villa.detalle }}</td>
        <td>{{ villa.tarifa }}</td>
        <td>{{ villa.ocupantes }}</td>
        <td>{{ villa.metrosCuadrados }}</td>
        <td>{{ villa.imagenUrl }}</td>
        <td>{{ villa.amenidad }}</td>
      </tr>
    </tbody>
  </table>
  


<app-footer></app-footer>